accelerate==0.28.0
bitsandbytes==0.43.0
decord==0.6.0
diffusers==0.27.2
einops==0.8.0
huggingface_hub==0.22.2
imageio==2.34.0
numpy==1.26.4
opencv_python==4.9.0.80
packaging==24.0
Pillow==10.3.0
safetensors==0.4.3
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.37.1
wandb==0.16.5
xformers==0.0.25.post1